.hero{
    width: 100vw;
    overflow: hidden;
}

.hero-container{
    margin-top: 75px;
    height: 100vh;
    position: relative;
    background: url('../../assest/bg-3.jpg');
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.hero-container .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

.hero-container .content h2{
    color: white;
    font-size: 70px;
    margin-bottom: 15px;
    display: flex;
}

.hero-container .changecontent{
    position: relative;
    color: transparent;
    margin-left: 10px;
    margin-right: 10px;

}

.hero-container .changecontent::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid green;
    overflow: hidden;
    animation: animateMove 3000ms linear infinite;
}

@keyframes animateMove {
    0%,10%,100% {
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

/*
.hero-container .changecontent::after{
    content: '';
    animation: changetext 8s infinite linear;
}
@keyframes changetext{
    0% { content: " Interactive "; }
    25% { content: " Powerful "; }
    50% { content: " Engrossing "; }
    75% { content: " Dynamic "; }
    100% { content: " Immersive "; }
}
*/

.hero-container .content p{
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.hero-container .content span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-container .content span .getBtn{
    margin-top: 30px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: white;
    border-radius: 20px;
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 600;
    transition: 0.5s;
    font-size: 1.5em;
}

.hero-container .content span .getBtn:hover{
    letter-spacing: 0.35em;
    background: var(--color-1);
    box-shadow: 0 0 35px var(--color-1);
}

.hero-container .content span .getBtn::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
    border-radius: 20px;
}

.hero-container .content span .getBtn span{
    position: relative;
    z-index: 1;
}

.hero-container .content span .getBtn i{
    position: absolute;
    inset: 0;
    display: block;
}

.hero-container .content span .getBtn i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325);
}

.hero-container .content span .getBtn:hover i::before{
    width: 20px;
    left: 20%;
}

.hero-container .content span .getBtn i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325);
}

.hero-container .content span .getBtn:hover i::after{
    width: 20px;
    left: 80%;
}

.overlay{
    background: linear-gradient(to top right, black,black);
    /*background: rgba(0,0,0,1);*/
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .hero{
        width: 100vw;
    }

    .hero-container{
        object-fit: contain;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-container .content{
        width: 96vw;
    }

    .hero-container .content h2{
        font-size: 50px;
        text-align: center;
        flex-direction: column;
    }

    .hero-container .content h2 span{
        margin-left: 0;
        margin-right: 0;
    }

    .hero .content p{
        font-size: 18px;
        text-align: center;
    }
}